.footer-social-icon {
  border: 2px solid rgba(198, 201, 216, 0.75);
  color: rgba(198, 201, 216, 0.75);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 44px;
  font-size: 16px;
  padding: 10px;
}
.footer-container {
  background-color: #00010c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;

  p {
    color: rgba(198, 201, 216, 0.75);
    font-size: 18px;
  }
}
