.about-column {
  // padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;

  h2 {
    font-weight: bold;
    font-size: 36px;
  }
  p,
  li {
    color: gray;
  }

  ul {
    list-style-type: none;
  }
  h3 {
    font-weight: bold;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .tick-icon {
    color: red;
    height: 20px;
    width: 35px;
    font-weight: lighter;
  }
}
.about-container {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f8f9fc;
  ul {
    padding: 0;
    line-height: 25px;
  }
  line-height: 25px;
}
